.about-header_caption {
  display: flex;
  flex-direction: column;
}
.about-crp {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.about-story {
  color: #888;
  background-color: #F0F3F5;
  text-align: center;
  padding: 3.5rem 0 5rem;
}
.about-connections {
  overflow: hidden;
  color: #888;
  background-color: #1A1A1A;
  text-align: center;
  padding: 3.5rem 0 10rem;
}
.about-professional {
  color: #888;
  background-color: #DBCDBE;
  text-align: center;
  height: 100vh;
}

h2.about-header-caption {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
}

//our story
h2.story-captions_title {
  color: #888;
  display: inline-block;
  margin-bottom: 8rem;
  text-align: center;
}
.story-figure {
  max-width: 25rem;
}
.story-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  @include tablet {
    align-items: center;
  }
  @include desktop {
    align-items: center;
  }
}
.story-img_right {
  @include tablet {
    margin-left: 18rem;
  }
}
.story-parag {
  @include tablet {
    max-width: 23rem;
    margin: 0 auto;
    padding-top: 5rem;
  }
  @include desktop {
    max-width: 35rem;
  }
}
// Connecting people
h2.connection-caption_title {
  color: #888;
    display: inline-block;
    margin-bottom: 8rem;
    text-align: center;
}
// .story-figure {
//   max-width: 25rem;
// }
.connecting-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  @include desktop {
    align-items: center;
  }
}

.connecting-img_left {
  @include tablet {
    align-self: center;
  }
}
.connecting-img_right {
  @include tablet {
    position: relative;
    left: 30rem;
  }
}
.connecting-parag {
  @include tablet {
    max-width: 23rem;
    position: relative;
    bottom: 6rem;
  }
  @include desktop {
    max-width: 35rem;
    left: 5rem;
    bottom: 16rem;
  }
}
//Story telling
.story-tell_header {
  text-align: center;
  .story-telling_cap {
  display: inline-block;
  margin-bottom: 6.5rem;
  padding-top: 18rem;
  text-align: center;
  }
}
.story-telling_wrapper {
  height: 85rem;
  overflow: hidden;
  
}
.story-telling {
  background-color: #c5aa7b;
  color: #e7d7be;
  height: 87rem;
  position: relative;
}
.story-telling .container {
  margin-left: inherit;
  max-width: 89%;
  text-align: center;
}
.story-telling_parag {
  @include tablet {
    max-width: 23rem;
    margin: 0 auto;
  }
  @include desktop {
    max-width: 35rem;
  }
}
img.cameras {
  max-width: 10rem;
  @include tablet {
    height: 18rem;
    max-width: 20rem;
  }
  @include desktop {
    height: 22rem;
    max-width: 30rem;
  }
}
.camera-funk{
  bottom: 0;
  height: 27rem;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.camera-funk, 
.camera-1 {
  position: absolute;
.camera-2{
  position: absolute;
}
}
.camera-funk .camera-1:first-child{
  left: 11rem;
  top: 9rem;
  @include tablet {
    left: 33rem;
    top: 6rem;
  }
  @include desktop {
    left: 53rem;
    top: 2rem;
  }
}
.camera-funk .camera-2:nth-child(2) {
  left: -2rem;
  top: 19rem;
  opacity: 0.5;
  @include tablet {
    left: 9rem;
    top: 13rem;
  }
  @include desktop {
    left: 15rem;
    top: 8rem;
  }
}
.camera-funk .camera-2:nth-child(3) {
  top: 8rem;
  opacity: 0.5;
  @include desktop {
    top: 5rem;
  }
}.camera-funk .camera-2:nth-child(4) {
  bottom: -3rem;
  left: 13rem;
  opacity: 0.7;
  @include tablet {
    left: 24rem;
  }
  @include desktop {
    left: 36rem;
    bottom: -4rem;
  }
}
.camera-funk .camera-2:nth-child(5) {
  bottom: 0rem;
  left: 4rem;
  opacity: 0.8;
  @include tablet {
    bottom: 4rem;
    left: 15rem;
  }
  @include desktop {
    bottom: 4rem;
    left: 22rem;
  }
}

//Banner 
.story-telling_banner {
  position: absolute;
  right: 2.6rem;
  transform: rotate(-90deg);
  transform-origin: right;
  .banner-title {
    font-family: 'Montserrat';
    font-weight: 100;
    font-style: normal;
    text-transform: uppercase;
    user-select: none;
    white-space: nowrap;
  }
}
  .banner-title_inner{
    display: flex;
    justify-content: space-around;
   span {    
    display: flex;
    justify-content: space-between;
    
   }
   div {
     border-radius: 50%;
     height: 1rem;
     margin: 0 1.5rem;
     width: 1rem;
     background-color: #e2ceb0;
   }
  // }
  // @keyframes shimmy {
  //   0% {
  //     transform: translate3d(0, 0);    
  //   }
  //   100% {
  //     transform: translate3d(1020px,0px, 0px);
  //   }
  }
