.contact-us {
  height: 50vh;
  display: flex;
  align-content: center;
  align-items: center;
}
.content__email, .content-address_location {
  margin: 0;
}
.content-contact, .content-address__str{
  padding-bottom: 3rem;
}

.social-media__contents ul {
  margin: 0;
  padding-left: 0;
  list-style: none;

}