.canvas-info {
  background-color: #f4f4f4;
  height: 100vh;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}
.canvas-info_parag {
  @include desktop {
    max-width: 35rem; 
  }
}
.canvas-road-productions_banner {
  display: flex;
  align-content: space-between;
  font-size: 12rem;
}
.canvas-statement {
  background-color: #e8e8e8;
  height: 100vh;
  display: flex;
  align-content: center;
  align-items: center;
}
.canvas-statement_2 {
  background-color: #c5aa7b;
  height: 50vh;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  @include desktop {
    height: 100vh;
  }
}
.canvas-statement_2_content {
  @include desktop {
    max-width: 35rem;
  }
}
.statement-header {
  font-size: 1.5rem;
  text-align: center;
}

