.canvas-info {
  background-color: #f4f4f4;
  height: 100vh;
  display: flex;
  align-content: center;
  align-items: center;
}
.canvas-statement {
  background-color: #e8e8e8;
  height: 100vh;
  display: flex;
  align-content: center;
  align-items: center;
}
.canvas-statement_2 {
  background-color: #c5aa7b;
  height: 50vh;
  display: flex;
  align-content: center;
  align-items: center;
}