.canvas-info {
  background-color: #f4f4f4;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}
.canvas-info_parag {
  padding-top: 5rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  @include desktop {
    max-width: 35rem; 
  }
}
.canvas-road-productions_banner {
  display: flex;
  align-content: space-between;
  font-size: 10rem;
  text-transform: uppercase;
  letter-spacing: .2rem;

}
.canvas-statement {
  background-color: #e8e8e8;
  height: 100vh;
  display: flex;
  align-content: center;
  align-items: center;
}
.canvas-statement_2_header {
  background-color: #c5aa7b;
  height: 50vh;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  @include desktop {
    height: 100vh;
  }
}

.canvas-statement_2_content {
  @include desktop {
    max-width: 35rem;
    h2 {
      font-size: 3rem;
    }
  }
}
.statement-header {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5rem;
}

